.text-animation {
  display: inline-block;
}

.text-gradient {
  background-clip: text;
  animation: colorAnimation 3s linear infinite;
}

@keyframes colorAnimation {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.text-container {
  display: inline-block;
}

.text-gradientC {
  background-clip: text;
  animation: colorAnimation 3s linear infinite;
}

@keyframes colorAnimation {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.carousel-container {
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.carousel-images {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column; /* Mengatur arah flex menjadi kolom */
  transition: transform 1s ease-in-out;
}

.typing-text {
  display: inline-block;
  overflow: hidden;
  /* border-right: 0.15em solid orange;  */
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.15em;
  animation: typing 4s steps(60, end), blink-caret 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.wrapper span {
  position: fixed;
  bottom: -180px;
  height: 50px;
  width: 50px;
  z-index: -1;
  background: linear-gradient(#374151, #1e40af, #8b5cf6);
  box-shadow: 0 0 50px #0072ff, 0 0 50px #0072ff, 0 0 50px #0072ff, 0 0 50px #0072ff;
  animation: animate 10s linear infinite;
}

.wrapper span:nth-child(1) {
  left: 60px;
  animation-delay: 0.6s;
}

.wrapper span:nth-child(2) {
  left: 10%;
  animation-delay: 3s;
  width: 60px;
  height: 60px;
}

.wrapper span:nth-child(3) {
  left: 20%;
  animation-delay: 2s;
}

.wrapper span:nth-child(4) {
  left: 30%;
  animation-delay: 5s;
  width: 80px;
  height: 80px;
}

.wrapper span:nth-child(5) {
  left: 40%;
  animation-delay: 1s;
}

.wrapper span:nth-child(6) {
  left: 50%;
  animation-delay: 7s;
}

.wrapper span:nth-child(7) {
  left: 60%;
  animation-delay: 6s;
  width: 100px;
  height: 100px;
}

.wrapper span:nth-child(8) {
  left: 70%;
  animation-delay: 8s;
}

.wrapper span:nth-child(9) {
  left: 80%;
  animation-delay: 6s;
  height: 90px;
  width: 90px;
}

.wrapper span:nth-child(10) {
  left: 90%;
  animation-delay: 4s;
}

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}
